#flightdata {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 20px 20px 0;

    .inner {
        background: rgba(255,255,255,0.9);
        position: relative;
        padding: 0;
    }

    .logo {
        position: relative;
        border-radius: $button-radius $button-radius 0 0;
        height: 7rem;
        // @extend .teal;

    }
    .price {
        background: rgba(255,255,255,0.9);
        border-radius: $button-radius;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 1rem;
        font-size: 1.5rem;
        @extend .z-depth-1;
        @extend .cyan-text;
    }

    .to p {
        color: rgba(255,255,255,0.6);
        font-size: 1.25rem;
        padding: 0 1.25rem;
        text-transform: uppercase;
        margin-bottom: 0;
        letter-spacing: 2px;

        span {
            color: white;
        }
    }

    .chip {
        margin: 0.25rem 1.25rem 1.25rem;
        height: 26px;
        line-height: 26px;
        padding: 0 1rem;
        background-color: rgba(255,255,255,0.6);
        font-size: 11px;

        i {
            margin-right: 0.25rem;
        }
    }

    .details {
        padding: 0 1.5rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;

        strong {
            font-size: 1.25rem;
            @extend .teal-text, .text-darken-2;
        }

        li {
            font-size: 1.25rem;

            span {
                opacity: 0.5;
                font-size: 60%;
            }
        }
    }

}