
.inital-search {
    height: 100%;
}
#searchform {
    padding: 0 1.25rem;
    background: rgba(255,255,255,0.9);
    border-radius: $button-radius;
    @extend .z-depth-1;

    h1 {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-size: 2rem;
        padding: 3rem 0;
        @extend .teal-text, .text-darken-4;
    }

    form {
        text-transform: uppercase;
        font-family: $medium;
        z-index: 99;
        position: relative;
    }

    input[type=text], label {
        letter-spacing: 0.15rem;
        text-transform: uppercase;
    }

    &.valign .destination {
        margin-bottom: 20px;

        input[type=text] {
            height: 5rem;
            font-size: 3rem;
        }

        label {
            font-size: 3rem;

            &.active {
              font-size: $label-font-size;
            }
        }
    }

    .find-flights {
        text-align: center;

          .btn {
              height: 3rem;
              line-height: 3rem;
          }
    }
}

