#searchform {

    .hidden {
        display: none;
    }

    &.sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        overflow: auto;

        -webkit-transition: all 200ms; /* Safari, Chrome and Opera > 12.1 */
           -moz-transition: all 200ms; /* Firefox < 16 */
            -ms-transition: all 200ms; /* Internet Explorer */
             -o-transition: all 200ms; /* Opera < 12.1 */
                transition: all 200ms;


        @media #{$small-and-down} {
            z-index: 103;
            background: white;
            left: -100%;

        }
            &.open {
                left: 0;
            }

        .col {
            width: 100%;
        }
        .hidden {
            display: block;
        }

        h1 {
            font-size: .75rem;
            font-weight: bold;
            padding: 1rem 0;
            line-height: 1.7;
        }

        .price-range {
            padding: 1rem 0.75rem 3rem;
            position: relative;
            background-color: transparent;

            .min, .max {
                position: absolute;
                top: 0;
            }
            .min {
                left: 0.75rem;
            }
            .max {
                right: 0.75rem;
            }
        }

    }
}

