@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "./node_modules/materialize-css/sass/components/mixins";
@import "./node_modules/materialize-css/sass/components/color";

// Variables;
@import "./node_modules/materialize-css/sass/components/variables";

// Reset
@import "./node_modules/materialize-css/sass/components/normalize";

// ./node_modules/materialize-css/sass/components
@import "./node_modules/materialize-css/sass/components/global";
@import "./node_modules/materialize-css/sass/components/icons-material-design";
@import "./node_modules/materialize-css/sass/components/grid";
@import "./node_modules/materialize-css/sass/components/navbar";
@import "./node_modules/materialize-css/sass/components/typography";
@import "./node_modules/materialize-css/sass/components/cards";
@import "./node_modules/materialize-css/sass/components/tooltip";
@import "./node_modules/materialize-css/sass/components/buttons";
@import "./node_modules/materialize-css/sass/components/dropdown";
@import "./node_modules/materialize-css/sass/components/waves";
@import "./node_modules/materialize-css/sass/components/chips";
@import "./node_modules/materialize-css/sass/components/materialbox";
@import "./node_modules/materialize-css/sass/components/forms/forms";
@import "./node_modules/materialize-css/sass/components/date_picker/default";
@import "./node_modules/materialize-css/sass/components/date_picker/default.date";
@import "./node_modules/materialize-css/sass/components/date_picker/default.time";


// Imported font libs
// -------------------------------------------------------------------------------

@import "googlefonts";

$regular:   'Lato', Arial, Verdana, sans-serif;
$medium:    'Lato', Arial, Verdana, sans-serif;
$bold:      'Lato', 'Arial Bold', Arial, Verdana, sans-serif;

html{
  font-family: $regular;

  h1, h2, h3, h4, h5 {
    text-transform: uppercase;
  }
}


@import "searchform";
@import "sidebar";
@import "flightdata";

html {
    width: 100%;
    min-height: 100%;
}

body {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

@media #{$small-and-down} {

    .mobile-btn {
        display: block;
        position: fixed;
        left: 1rem;
        bottom: 1rem;
        opacity: 0.9;
        z-index: 104;
    }
}

section {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

