// 1. Buttons
// 2. Button group
// 3. Justified button groups

:focus {
  outline-color: transparent;
  outline-style: none;
}

// 1. Buttons
// -------------------------------------------------------------------------------

.btn {
    padding: 15px 30px;
    line-height: 1;
    text-decoration: none;
    font-family: $regular;
    font-size: 100%;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer;
    margin-bottom: 5px;
    outline: none;
    border: 2px solid $color-primary;
    @include border-radius(3px, 3px, 3px, 3px);
    @include transition;
    @include inline-block();

    &.btn--default {
        border: 2px solid $color-primary;
        color: $color-primary;

        @include media-query(l) {
            &:hover {
                background: darken($color-primary, 5%);
                border-color: darken($color-primary, 5%);
                color: white;
            }
        }
    }

    &.btn--primary {
        background: $color-primary;
        color: white;

        @include media-query(l) {
            &:hover {
                background: darken($color-primary, 5%);
                border-color: darken($color-primary, 5%);
            }
        }
    }

    &.btn--secondary {
        background: $color-secondary;
        color: white;

        @include media-query(l) {
            &:hover {
                background: darken($color-secondary, 10%);
            }
        }
    }

    &.btn--xsmall {
        font-size: 70%;
        padding: 4px 12px;
    }

    &.btn--small {
        font-size: 85%;
        padding: 7px 15px;
    }

    &.btn--large {
        font-size: 110%;
        padding: 12px 26px;
    }

    &.btn--xlarge {
        font-size: 125%;
        padding: 14px 30px;
    }

    &.btn--block {
        display: block;
        width: 100%;
        text-align: center;
    }
}

// 2. Button group
// -------------------------------------------------------------------------------

.btn--group {
    > .btn {
        position: relative;
        float: left;

        &:first-child:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:last-child:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }
}

// 3. Justified button groups
// -------------------------------------------------------------------------------

.btn--group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;

    > .btn {
        float: none;
        display: table-cell;
        width: 100%;
        text-align: center;

        &:first-child:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:last-child:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }
}


