
// 1. Media-query start variables
// 2. Grid widths for 1,2,3,4,5,6,8,10,11,12,24 splits
// 3. Media-query Mixin
// 4. Flexbox
// 5. Max width limit
// 6. Hide based on viewport


// 1. Media-query start variables
// -------------------------------------------------------------------------------

$s-start-breakpoint:    400!default;
$m-start-breakpoint:    800!default;
$l-start-breakpoint:    1000!default;
$xl-start-breakpoint:   1200!default;
$site-width-limit:      1400!default;


// 2. Grid widths for 1,2,3,4,5,6,8,10,11,12,24 splits
// -------------------------------------------------------------------------------

$grid-prefix:           "grid-"!default;

.grid {
    list-style: none;
    margin-bottom: 0;
    letter-spacing: -.31em;
}
.grid, .grid [class *="grid-"] {
    box-sizing: border-box;
}

section {
    margin: 0 auto;
    max-width: #{$site-width-limit}px;
}

@mixin grid__item() {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
}

@mixin grid-setup($namespace: "grid-") {
    // 1 spacing
    .#{$namespace}1-1, .#{$namespace}1, .#{$namespace}24-24 {
        @include grid__item();
        width: 100%;
    }

    // 2 spacing
    .#{$namespace}1-2 {
        @include grid__item();
        width: 50%;
    }

    // 3 spacing
    .#{$namespace}1-3 {
        @include grid__item();
        width: 33.333%;
    }
    .#{$namespace}2-3 {
        @include grid__item();
        width: 66.666%;
    }

    // 4 spacing
    .#{$namespace}1-4 {
        @include grid__item();
        width: 25%;
    }
    .#{$namespace}2-4 {
        @extend .#{$namespace}1-2;
    }
    .#{$namespace}3-4 {
        @include grid__item();
        width: 75%;
    }

    // 5 spacing
    .#{$namespace}1-5 {
        @include grid__item();
        width: 20%;
    }
    .#{$namespace}2-5 {
        @include grid__item();
        width: 40%;
    }
    .#{$namespace}3-5 {
        @include grid__item();
        width: 60%;
    }
    .#{$namespace}4-5 {
        @include grid__item();
        width: 80%;
    }

    // 6 spacing
    .#{$namespace}1-6 {
        @include grid__item();
        width: 16.666%;
    }
    .#{$namespace}2-6 {
        @extend .#{$namespace}1-3;
    }
    .#{$namespace}3-6 {
        @extend .#{$namespace}1-2;
    }
    .#{$namespace}4-6 {
        @extend .#{$namespace}2-3;
    }
    .#{$namespace}5-6 {
        @include grid__item();
        width: 83.333%;
    }

    // 8 spacing
    .#{$namespace}1-8 {
        @include grid__item();
        width: 12.5%;
    }
    .#{$namespace}2-8 {
        @extend .#{$namespace}1-4;
    }
    .#{$namespace}3-8 {
        @include grid__item();
        width: 37.5%;
    }
    .#{$namespace}4-8 {
        @extend .#{$namespace}1-2;
    }
    .#{$namespace}5-8 {
        @include grid__item();
        width: 62.5%;
    }
    .#{$namespace}6-8 {
        @extend .#{$namespace}3-4;
    }
    .#{$namespace}7-8 {
        @include grid__item();
        width: 87.5%;
    }

    // 10 spacing
    .#{$namespace}1-10 {
        @include grid__item();
        width: 10%;
    }
    .#{$namespace}2-10 {
        @extend .#{$namespace}1-5;
    }
    .#{$namespace}3-10 {
        @include grid__item();
        width: 30%;
    }
    .#{$namespace}4-10 {
        @extend .#{$namespace}2-5;
    }
    .#{$namespace}5-10 {
        @extend .#{$namespace}1-2;
    }
    .#{$namespace}6-10 {
        @extend .#{$namespace}3-5;
    }
    .#{$namespace}7-10 {
        @include grid__item();
        width: 70%;
    }
    .#{$namespace}8-10 {
        @extend .#{$namespace}4-5;
    }
    .#{$namespace}9-10 {
        @include grid__item();
        width: 90%;
    }

    // 12 spacing
    .#{$namespace}1-12 {
        @include grid__item();
        width: 8.333%;
    }
    .#{$namespace}2-12 {
        @extend .#{$namespace}1-6;
    }
    .#{$namespace}3-12 {
        @extend .#{$namespace}1-4;
    }
    .#{$namespace}4-12 {
        @extend .#{$namespace}1-3;
    }
    .#{$namespace}5-12 {
        @include grid__item();
        width: 41.666%;
    }
    .#{$namespace}6-12 {
        @extend .#{$namespace}1-2;
    }
    .#{$namespace}7-12 {
        @include grid__item();
        width: 58.333%;
    }
    .#{$namespace}8-12 {
        @extend .#{$namespace}2-3;
    }
    .#{$namespace}9-12 {
        @extend .#{$namespace}3-4;
    }
    .#{$namespace}10-12 {
        @extend .#{$namespace}5-6;
    }
    .#{$namespace}11-12 {
        @include grid__item();
        width: 91.666%;
    }
}
@include grid-setup($grid-prefix);

// 3. Media-Query Mixin
// -------------------------------------------------------------------------------

$s-start: ($s-start-breakpoint / $base-font-size) * 1rem;
$m-start: ($m-start-breakpoint / $base-font-size) * 1rem;
$l-start: ($l-start-breakpoint / $base-font-size) * 1rem;
$xl-start: ($xl-start-breakpoint / $base-font-size) * 1rem;


$xs-end: $s-start - (1 / $base-font-size);
$s-end: $m-start - (1 / $base-font-size);
$m-end: $l-start - (1 / $base-font-size);
@mixin media-query($media-query) {
    @if $media-query == xs {
        @media only screen and (max-width:$xs-end) {
            @content;
        }
    }
    @if $media-query == xs-s {
        @media only screen and (max-width:$s-end) {
            @content;
        }
    }
    @if $media-query == s {
        @media only screen and (min-width:$s-start) and (max-width:$s-end) {
            @content;
        }
    }
    @if $media-query == s-m {
        @media only screen and (min-width:$s-start) and (max-width:$m-end) {
            @content;
        }
    }
    @if $media-query == s-xl {
        @media only screen and (min-width:$s-start) {
            @content;
        }
    }
    @if $media-query == xs-m {
        @media only screen and (max-width:$m-end) {
            @content;
        }
    }
    @if $media-query == m {
        @media only screen and (min-width:$m-start) and (max-width:$m-end) {
            @content;
        }
    }
    @if $media-query == m-xl {
        @media only screen and (min-width:$m-start) {
            @content;
        }
    }
    @if $media-query == l {
        @media only screen and (min-width:$l-start) {
            @content;
        }
    }
    @if $media-query == xl {
        @media only screen and (min-width: $xl-start) {
            @content;
        }
    }
}

@include media-query(xs) {
    @include grid-setup($grid-prefix + "xs-");
}
@include media-query(xs-s) {
    @include grid-setup($grid-prefix + "xs-s-");
}
@include media-query(s) {
    @include grid-setup($grid-prefix + "s-");
}
@include media-query(s-m) {
    @include grid-setup($grid-prefix + "s-m-");
}
@include media-query(s-xl) {
    @include grid-setup($grid-prefix + "s-xl-");
}
@include media-query(xs-m) {
    @include grid-setup($grid-prefix + "xs-m-");
}
@include media-query(m) {
    @include grid-setup($grid-prefix + "m-");
}
@include media-query(m-xl) {
    @include grid-setup($grid-prefix + "m-xl-");
}
@include media-query(l) {
    @include grid-setup($grid-prefix + "l-");
}
@include media-query(xl) {
    @include grid-setup($grid-prefix + "xl-");
}


// 4. Flexbox
// -------------------------------------------------------------------------------

.flexbox{
    display:table;
    width:100%;
}

html.flexbox{
    display:block;
    width:auto;
}

.flexbox__item{
    display:table-cell;
    vertical-align:middle;
}


// 5. Max width limit
// -------------------------------------------------------------------------------

$site-width-limit-rem: $site-width-limit / $base-font-size + rem;
.max-width {
    max-width: $site-width-limit-rem;
}


// 6. Hide based on viewport
// -------------------------------------------------------------------------------

@include media-query(xs) {
    .hide-xs {
        display: none!important;
    }
}
@include media-query(xs-s) {
    .hide-xs-s {
        display: none!important;
    }
}
@include media-query(s) {
    .hide-s {
        display: none!important;
    }
}
@include media-query(s-xl) {
    .hide-s-xl {
        display: none!important;
    }
}
@include media-query(xs-m) {
    .hide-xs-m {
        display: none!important;
    }
}
@include media-query(s-l) {
    .hide-s-l {
        display: none!important;
    }
}
@include media-query(m) {
    .hide-m {
        display: none!important;
    }
}
@include media-query(m-xl) {
    .hide-m-xl {
        display: none!important;
    }
}
@include media-query(l) {
    .hide-l {
        display: none!important;
    }
}
@include media-query(xl) {
    .hide-xl {
        display: none!important;
    }
}
