
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid $color-light;
    width: 100%;

    td,
    th {
        border-left: 1px solid $color-light;
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible;
        padding: $base-line / 2;
        padding-top: $base-line / 2 - $one-px; // to remove the 1px table border on one side

        &:first-child {
            border-left-width: 0;
        }
    }

    thead {
        background-color: $color-light;
        color: $color-default;
        vertical-align: middle;
    }
    // Bordered table
    td {
        border-bottom: 1px solid rgba(234, 230, 243, 0.4);
    }
    th {
        text-align: center;
        border-style: solid;
        border-color: $color-default;
        border-width: 1px 0 0 1px;
    }
    tbody > tr:last-child > td {
        border-bottom-width: 0;
    }
}