
// Vertical rhythm
// -------------------------------------------------------------------------------

h2, h3, h4, h5, p {
    font-family: $regular;
    font-weight: 100;
}

h1 {
    font-family: $medium;
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    margin-bottom: $h1-margin-bottom;

    @include media-query(xs) {
        font-size: $h1-font-size * .8;
        margin-bottom: $h1-margin-bottom * .8;
    }
}

h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    margin-bottom: $h2-margin-bottom;

    @include media-query(xs) {
        font-size: $h2-font-size * .8;
        margin-bottom: $h2-margin-bottom * .8;
    }
}

h3 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    margin-bottom: $h3-margin-bottom;

    @include media-query(xs) {
        font-size: $h2-font-size * .8;
        margin-bottom: $h3-margin-bottom * .8;
    }
}

h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
    margin-bottom: $h4-margin-bottom;

    @include media-query(xs) {
        font-size: $h4-font-size * .8;
        margin-bottom: $h4-margin-bottom * .8;
    }
}

p, ul, ol, table, blockquote {
    font-family: $regular;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: $base-margin-bottom;

    @include media-query(xs) {
        font-size: $base-font-size * .9;
        margin-bottom: $base-margin-bottom * .9;
    }
}

hr {
    position: relative;
    border: none;
    margin-top: $base-line - $two-px;
    height: $base-line;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-width: $one-px 0 $one-px 0;
        border-style: solid;
        border-top-color: darken($color-default, 30%);
        border-bottom-color: lighten($color-default, 10%);
        display: block;
    }

    @include media-query(xs) {
        margin-top: $base-margin-top * .8 - $one-px;
        height: $base-margin-top * .8 / 2;
    }
}