<div class="row">
    {{#flightdata}}
        <div class="col s12 m12 l6">
            <div class="inner card-panel hoverable">
                <div class="logo valign-wrapper cyan">
                    <div class="to valign">
                        <p>From: <span>{{from}}</span> <br>
                        To: <span>{{to}}</span></p>
                        <div class="chip">
                            <i class="fa fa-plane" aria-hidden="true"></i> {{airline}} | {{flight_number}}
                        </div>
                    </div>
                    <div class="price">£{{cost}}</div>
                </div>

                <div class="details row">
                    <div class="col s6">
                        <p><strong>Out</strong></p>
                        <ul>
                            <li>{{departure}} <span>Depart</span></li>
                            <li>{{arrival}} <span>Arrival</span></li>
                            <li>{{duration}}<span>hr Duration</span></li>
                        </ul>
                    </div>
                    <div class="col s6">
                        <p><strong>Return</strong></p>
                        <ul>
                            <li>{{departure}} <span>Depart</span></li>
                            <li>{{arrival}} <span>Arrival</span></li>
                            <li>{{duration}}<span>hr Duration</span></li>
                        </ul>
                    </div>

                    <p><a class="waves-effect waves-light btn-large">Book these flights</a></p>
                </div>
            </div>
        </div>
    {{/flightdata}}
</div>