
<form class="">
    <div class="row">
        <div class="title col s12">
            <h1>Flight Search Engine</h1>
        </div>

        <div class="input-field col s12 destination">
            <input id="destination" type="text" class="validate"  placeholder="Lahore?">
            <label class="active" for="destination">Fly me to</label>
        </div>

        <div class="input-field col s4 m3">
            <input id="depart" type="date" class="datepicker picker__input" readonly="" tabindex="-1" aria-haspopup="true" aria-expanded="false" aria-readonly="false" class="validate">
            <label for="depart">Depart</label>
        </div>

        <div class="input-field col s4 m3">
            <input id="return" type="date" class="datepicker picker__input" readonly="" tabindex="-1" aria-haspopup="true" aria-expanded="false" aria-readonly="false" class="validate">
            <label for="return">Return</label>
        </div>

        <div class="input-field col s4 m3">
            <select>
                <option value="" disabled selected>Choose</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
                <option value="3">6</option>
                <option value="1">7</option>
                <option value="2">8</option>
                <option value="3">9</option>
                <option value="3">10</option>
            </select>
            <label>Passengers</label>
        </div>

        <div class="input-field filter col s12 hidden">
            <h1>Filter your results</h1>
        </div>

        <div class="input-field price-range col s12 hidden">
            <span class="min">£0</span>
            <span class="max">£200</span>
            <p id="range-input"></p>
        </div>

        <div class="input-field col s4 m3 airport hidden">
            <select>
                <option value="" disabled selected>Choose</option>
                <option value="Liverpool">Liverpool</option>
                <option value="London">London</option>
                <option value="Manchester">Manchester</option>
                <option value="Newcastle">Newcastle</option>
            </select>
            <label>Fly From?</label>
        </div>

        <div class="col s12 m3 find-flights">
            <p class="right-align"><a class="waves-effect waves-light btn  find-flights">Find Flights</a></p>
        </div>

    </div>

</form>
